.searchWrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.searchIcon {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 10px;
  left: 8px;

}

input {
  width: 300px;
  padding: 10px 35px;
  border: 1px solid grey;
  border-radius: 5px;
  outline: none;
  color: #000000;
  font-family: 'PNReg';
}

input::placeholder {
  color: grey;
  font-size: 16px;
  font-family: 'PNReg';
  letter-spacing: 0.2px;
}

input:focus {
  border-color: #EB5A1E;
}

.closeSearchBtn {
  width: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.closeSearchBtn:hover {
  opacity: 0.7;
}